<div id="flashcontent">
        <strong>You need to upgrade your Flash Player</strong>
</div>
<!-- amxy script-->
<script type="text/javascript">
      // <![CDATA[
      
      //so.addVariable("path", "../../amcharts/amxy/");
      so.addVariable("settings_file", encodeURIComponent("../../amcharts/amxy_settings.xml"));
      so.addVariable("data_file",  escape('/output/cmp_cmpes/bubble'));
      so.write("flashcontent");
      // ]]>
</script>