<table class="no-border">
   <tr>
      <% active_scaffold_config.action_links.each :member do |link| -%>

         <% next if skip_action_link(link) -%>
         <td>
            <%= record.authorized_for?(:action => link.crud_type) ? render_action_link(link, url_options, record) : "<a class='disabled #{link.action}'>#{link.label}</a>" -%>
         </td>

      <% end -%>
   </tr>
</table>

