<table>
  <tr>
    <th colspan="3">Car park</th>
  </tr>
  <tr>
    <td>id </td>
    <td>number_of_car</td>
    <td>date_for </td>
  </tr>
  <% object.carpark_data.each do |cpark| %>

    <tr class="<%= cycle('', 'bg')%>" >
      <td><%=h cpark.id %></td>
      <td><%=h cpark.number_of_car %></td>
      <td><%=h cpark.date_for %></td>
    </tr>
  <% end  %>
</table>