<h1>Editing car_sale</h1>

<% form_for(@car_sale) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @car_sale %> |
<%= link_to 'Back', car_sales_path %>